{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link">上一页</a>
  {% else %}
    <span class="page-link disabled">上一页</span>
  {% endif %}

  {% if paginator.page > 4 %}
    <a href="{{ paginator.first_page_path | relative_url }}" class="page-link">首页</a>
  {% endif %}

  {% for trail in paginator.page_trail) %}
    {% if page.url == trail.path %}
      <span class="page-link current">{{ trail.num }}</span>
    {% else %}
      <a class="page-link" href="{{ trail.path | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
    {% endif %}
  {% endfor %}

  {% assign gap = paginator.total_pages | minus: paginator.page %}
  {% if gap >= 4  %}
    <a href="{{ paginator.last_page_path | relative_url }}" class="page-link">尾页</a>
  {% endif %}

  {% if paginator.next_page %}
    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">下一页</a>
  {% else %}
    <span class="page-link disabled">下一页</span>
  {% endif %}
</div>
{% endif %}