{% assign page_url = page.url | prepend: site.url %}
<div class="share-component">
  <button class="share-action-button btn" id="share_action_trigger">
    <i class="share-action-icon">{% include svg/share.svg %}</i>
    <span>分享</span>
  </button>
  <div class="share-buttons" id="share_buttons">
    <a class="twitter-icon" data-provider="twitter" href="https://twitter.com/intent/tweet?url={{page_url}}&text={{page.title}}">{% include svg/twitter.svg %}</a>
    <a class="facebook-icon" data-provider="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{page_url}}">{% include svg/facebook.svg %}</a>
    <a class="linkedin-icon" data-provider="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{page_url}}&title={{page.title}}">{% include svg/linkedin.svg %}</a>
    <a class="weibo-icon" data-provider="weibo" href="https://service.weibo.com/share/share.php?url={{page_url}}&title={{page.title}}">{% include svg/weibo.svg %}</a>
    <a class="qzone-icon" data-provider="qzone" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{page_url}}">{% include svg/qzone.svg %}</a>
    <a class="wechat-icon" data-provider="wechat" href="{{site.url}}/qrcode/?url={{page_url}}">{% include svg/wechat.svg %}</a>
  </div>
</div>
<script>
  (function(){
    function openShareWindow(url, provider) {
      window.open(url, `${provider}ShareWindow`, 'height=500,width=500,location=no');
    }
    document.querySelectorAll('#share_buttons a').forEach(link => {
      link.addEventListener('click', (e) => {
        e.preventDefault();
        const url = link.href;
        if (!url) {
          return;
        }
        openShareWindow(url, (link.dataset.provider || 'share'));
      });
    });
    document.getElementById('share_action_trigger').addEventListener('click', function() {
      if (!navigator.share) {
        document.getElementById('share_buttons').classList.toggle('active');
        return;
      }
      navigator.share({
        title: "{{page.title}}",
        text: "{{page.excerpt | strip_html | rstrip }}",
        url: "{{page_url}}"
      });
    })
  })()
</script>