.site-header {
  background: var(--bg-light);
  padding: 0.8rem 0;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .header-container {
    display: flex;
    align-items: center;
    @media (max-width: 720px) {
      display: block;
      text-align: center;
    }
  }
  .logo {
    margin: 0;
    font-size: 1.2rem;
    padding-right: 1rem;
    @media (max-width: 720px) {
      padding-right: 0;
      
    }
    a {
      color: var(--font-color);
      @media (prefers-color-scheme: dark) {
        color: #fff;
      }
    }
  }
  .site-menu {
    flex: 1;
    display: flex;
    align-items: center;
    @media (max-width: 720px) {
      padding-top: 1rem;
      justify-content: space-between;
      overflow-x: auto;
    }
    a {
      margin: 0 1rem;
      opacity: 0.65;
      color: var(--font-color);
      @media (prefers-color-scheme: dark) {
        color: #fff;
      }
      @media (max-width: 720px) {
        margin-left: 0;
        margin-right: 0;
      }
      &:hover, &.active {
        opacity: 1;
      }
    }
  }
  .header-search {
    @media (max-width: 720px) {
      padding-top: 1rem;
      border-top: solid 1px var(--border-color);
      margin-top: 1rem;
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      
    }
  }
  
  .header-search-input {
    margin-bottom: 0;
    width: 200px;
    transition: width 0.3s;
    box-shadow: 0 1px 1px 0 rgba(85,95,110,.2);
    &:focus {
      width: 260px;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
    @media (max-width: 720px) {
      width: 100%;
      transition: none;
      &:focus {
        width: 100%;
      }
    }
  }
}

