.ais-SearchBox {
  padding-top: 3rem;
  .ais-SearchBox-form {
    position: relative;
  }
  
  .ais-SearchBox-submit {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    left: 0.8rem;
    margin-top: -0.5rem;
    svg {
      height: 1rem !important;
      width: 1rem !important; 
    }
  }
  .ais-SearchBox-loadingIndicator {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: #fff; 
    top: 50%;
    margin-top: -8px;
    left: 0.8rem;
  }
}

.ais-SearchBox-input, .search-input {
  height: calc(2em + .75rem + 2px);
  box-shadow: 0 1px 1px 0 rgba(85,95,110,.2);
  margin-bottom: 0.5rem;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

.ais-SearchBox-input {
  padding-left: 2.5rem;
}

.search-results {
  .placeholder {
    padding: 5rem 0;
    text-align: center;
    color: #999;
  }
}

.search-powered-by {
  display: flex;
  justify-content: flex-end;
}

.ais-PoweredBy {
  transform: scale(0.7);
}