@import "icons";

.share-component {
  display: flex;
  align-items: center;
}

.share-buttons {
  display: flex;
  padding-left: 1rem;
  visibility: hidden;
  opacity: 0;
  transform: all .3s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  a {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
    transition: transform 0.3s;
    svg {
      fill: currentcolor;
    }
    &:hover {
      transform: scale(1.2)
    }
  }
}


.search-result-placeholder {
  text-align: center;
  padding: 5rem 0;
  color: #999;
}

.share-action-button {
  display: inline-flex;
  align-items: center;
}

.share-action-icon {
  svg {
    width: 1rem;
    fill: currentColor;
  }
  display: inline;
  line-height: 1;
  
  margin-right: 0.5rem;
}