---
import { type Article } from '../types'
import TimeAgo from './TimeAgo.astro'

type Props = {
  articles: Article[]
}

const { articles  } = Astro.props
---
<ul class="space-y-8">
  {
    articles.map((post) => (
      <li class="space-y-3">
        <a href={`/articles/${post.slug}/`} class="text-lg text-gray-900 dark:text-white">
          <h4 class="title font-semibold">{post.data.title}</h4>
        </a>
        <p class="text-gray-500">{post.data.description}</p>
        <p class="text-sm text-gray-500 block">
          <TimeAgo date={post.data.date} />
        </p>
      </li>
    ))
  }
</ul>