---
import { HOST } from '../constants/api'

type Props = {
  slug: string;
}

const { slug } = Astro.props

const res = await fetch(`${HOST}/comments/${slug}`)
const comments = await res.json()
---

<div>

</div>