<div id="comment_box"></div>
	<script>
		import { getDefaultTheme } from '../helpers/theme'
		const theme = getDefaultTheme();
		const giscusTheme = theme === 'dark' ? 'transparent_dark' : 'light';
		const giscusConfig = {
			repo: 'housne/housne.github.io',
			repoId: 'MDEwOlJlcG9zaXRvcnk4ODc0NjQxNQ==',
			category: 'General',
			categoryId: 'DIC_kwDOBUopr84CejID',
			mapping: 'pathname',
			strict: 0,
			reactionsEnabled: 1,
			emitMetadata: 0,
			inputPosition: 'bottom',
			theme: giscusTheme,
			lang: 'zh-CN',
			loading: 'lazy'
		};
		const script = document.createElement('script');
		script.src = 'https://giscus.app/client.js';
		script.setAttribute('data-repo', giscusConfig.repo);
		script.setAttribute('data-repo-id', giscusConfig.repoId);
		script.setAttribute('data-category', giscusConfig.category);
		script.setAttribute('data-category-id', giscusConfig.categoryId);
		script.setAttribute('data-mapping', giscusConfig.mapping);
		script.setAttribute('data-strict', giscusConfig.strict.toString());
		script.setAttribute('data-reactions-enabled', giscusConfig.reactionsEnabled.toString());
		script.setAttribute('data-emit-metadata', giscusConfig.emitMetadata.toString());
		script.setAttribute('data-input-position', giscusConfig.inputPosition);
		script.setAttribute('data-theme', giscusConfig.theme);
		script.setAttribute('data-lang', giscusConfig.lang);
		script.setAttribute('data-loading', giscusConfig.loading);
		script.setAttribute('crossorigin', 'anonymous');
		script.async = true;
		document.getElementById('comment_box')?.appendChild(script);
		const sendMessage = (message: Partial<typeof giscusConfig>) => {
			const iframe = document.querySelector<HTMLIFrameElement>('iframe.giscus-frame');
			if (!iframe) return;
			iframe.contentWindow?.postMessage({ giscus: {setConfig: message} }, 'https://giscus.app');
		}
		window.addEventListener('theme-change', event => {
			const { detail: theme } = event as CustomEvent;
			const giscusTheme = theme === 'dark' ? 'transparent_dark' : 'light';
			sendMessage({ theme: giscusTheme });
		})
	</script>