---
import { SITE_TITLE } from '../consts';
---

<header class="h-[60px] mb-8 md:mb-0">
	<div class="flex items-center px-4 py-4 fixed z-20 top-0 left-0 w-full h-[60px] bg-white/50">
		<h1>
			<a href="/">{SITE_TITLE}</a>
		</h1>
	</div>
</header>